page-cadastro {
	.scroll-content {
        margin-top: 23px !important;
    }

    .margin-negative-left {
        margin-left: -5px;
    }

    .terms {
        font-size: 10pt;
        color: #BACFCA;
        font-weight: 400;
        margin-bottom: 20px;
    }
}
