// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Lobster');
* {
    font-family: Roboto,sans-serif;
}
.content-padding-extra {
    padding-left: 2.2em;
    padding-right: 2.2em;
}
.content-padding-extra-small {
    padding-left: 1em;
    padding-right: 1em;
}

.item-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 6px 0 5px 16px
}

.item-input input {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 220px;
    -moz-box-flex: 1;
    -moz-flex: 1 220px;
    -ms-flex: 1 220px;
    flex: 1 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding-right: 24px;
    background-color: transparent
}

input[type=text],
input[type=password],
input[type=date],
input[type=time],
input[type=email],
input[type=tel] {
    font-size: 14pt;
    border-bottom: 1px solid #ECEEF6
}

.item-input.input-control {
    padding: 10px 0;
    margin-bottom: 10px
}

.item-input.input-control input[type=text],
.item-input.input-control input[type=password],
.item-input.input-control input[type=date],
.item-input.input-control input[type=time],
.item-input.input-control input[type=email] {
    padding-bottom: 10px
}

.item-input.input-control .input-label {
    color: #aaa;
    margin-top: -2px;
    border-bottom: 1px solid #ECEEF6
}
input {
    color: #16a085 !important;
}

.text-12 {
    font-size: 12pt
}

.text-light {
    color: rgba(96, 125, 139, .5)
}

.col-33, 
.col-34 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.col-50 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-66,
.col-67 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 66.6666%;
    -ms-flex: 0 0 66.6666%;
    flex: 0 0 66.6666%;
    max-width: 66.6666%
}

a {
    color: #16a085;
    text-decoration: none;
}

.pull-right {
    float: right
}
.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.button {
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer
}

.button:hover {
    color: #444;
    text-decoration: none
}

.button.activated,
.button.active {
    border-color: #a2a2a2;
    background-color: #e5e5e5
}

.button:after {
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    content: ' '
}

.button-outline {
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
    background: 0 0;
    box-shadow: none;
    font-size: 11pt;
    border-radius: 50px;
    min-width: 100px;
}

.button.disabled,
.button[disabled] {
    opacity: .4;
    cursor: default!important;
    pointer-events: none
}

.button-royal {
    background-color: #16a085!important;
    color: #FFF!important;
    border: none!important;
    box-shadow: 0 8px 18px 0 rgba(51,58,69,.15);
}

.button.button-light.button-outline {
    border-color: #ddd;
    background: 0 0;
    color: #ddd
}

.button.button-light.button-outline.activated,
.button.button-light.button-outline.active {
    background-color: #ddd;
    box-shadow: none;
    color: #fff
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%
}

.row+.row {
    margin-top: -5px;
    padding-top: 0
}

.text-uppercase {
    text-transform: uppercase;
}

.text-divisor {
    color: #16a085;
    font-weight: 400;
    padding-top: 4px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #16a085;
    margin: 1em 0;
    padding: 0;
    background: none !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.padding-top,
.padding-vertical {
    padding-top: 10px
}

.padding-horizontal,
.padding-right {
    padding-right: 10px
}

.padding-bottom,
.padding-vertical {
    padding-bottom: 10px
}

.padding-horizontal,
.padding-left {
    padding-left: 10px
}

.social-buttons {
    font-size: 13pt;
    font-weight: 400;
    margin-bottom: 20px
}

.social-buttons i.icon {
    font-size: 20pt;
    vertical-align: middle;
    margin-right: 8px
}

.social-buttons .facebook-button {
    color: #fff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    background-color: #5E7AB2;
}

.social-buttons .googleplus-button {
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    background-color: #DD4B39;
}
.social-buttons ion-icon {
    padding-right: 5px
}
.padding-top-bottom {
    padding: 15px 0 15px 0;
}

.alert-input {
    font-size: 12pt !important
}

.toolbar-background {
    background: none !important;
    border: none !important
}

.bar-royal {
    border-color: #1abc9c;
    background-color: #1abc9c;
    background-image: linear-gradient(0deg, #1abc9c, #1abc9c 50%, transparent 50%);
    color: #fff
}

.bar-royal .title {
    color: #fff
}

.bar-royal.bar-footer {
    background-image: linear-gradient(180deg, #1abc9c, #1abc9c 50%, transparent 50%)
}

.bar-dark {
    border-color: #111;
    background-color: #444;
    background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
    color: #fff
}

.bar-royal .button {
    border-color: #1abc9c;
    background-color: #1abc9c;
    color: #fff
}

.bar-royal .button:hover {
    color: #fff;
    text-decoration: none
}

.bar-royal .button.activated,
.bar-royal .button.active {
    border-color: #1abc9c;
    background-color: #1abc9c
}

.bar-royal .button.button-clear {
    border-color: transparent;
    background: 0 0;
    box-shadow: none;
    color: #fff;
    font-size: 17px
}

.bar-royal .button.button-icon {
    border-color: transparent;
    background: 0 0
}

.screen-header {
    background: #1abc9c;
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 20px
}

.screen-header h1 {
    color: #FFF;
    font-weight: 300;
    font-size: 24pt
}

.screen-header h1 small {
    display: block;
    font-size: 10pt;
    margin-top: 10px
}

.back-button {
    color: #fff !important;
    padding-left: 28px;
}

.item-inner {
    border-bottom: none !important
}

.item-input.input-control {
    margin-bottom: 0 !important
}

.toast-message{
    color: #fff;
    opacity: 0.9;
    border-radius: 10px;
}

.toast-error {
    > div{
        background: #b31111 !important;
    }
}

.toast-success {
    > div{
        background: #4F8A10 !important;
    }
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.menu {
    background: #1abc9c;
}

.menu-header h1 small {
    display: block;
    font-size: 10pt;
    margin-top: 10px;
}

.menu-header {
    background: #1abc9c;
    padding: 50px 20px 0;
    margin-bottom: 150px;
}

.menu-header h1 {
    color: #FFF;
    font-weight: 300;
    font-size: 18pt;
}

.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    border: none
}

.list:last-child {
    margin-bottom: 0
}

.list .item,
.list .item-content {
    background: #1abc9c;
    border: none
}

.list .item,
.list a.item-content {
    color: #FFF;
    font-size: 13pt;
    font-weight: 300;
    line-height: 30px;
}

.item-block:first-child {
    border-top: none !important;
}

.item-block:last-child {
    border-bottom: none !important;
}

@media only screen and (max-width: 320px) {
    .text-12 {
        font-size: 10pt;
    }
}